.LinkedIn {
    background-color: #0072b1;
}
.Github {
    background-color: #373636;
}
.Twitter {
    background-color: #00acee;
}
.Discord {
    background-color: #5865F2;
}
.Twitch {
    background-color: #9146FF;
}