:root {
  --navbar-animation-time: 400ms;
}
.link1 {
  animation: nav-load calc(var(--navbar-animation-time) + 100ms);
}
.link2 {
  animation: nav-load calc(var(--navbar-animation-time) + 200ms);
}
.link3 {
  animation: nav-load calc(var(--navbar-animation-time) + 300ms);
}
.link4 {
  animation: nav-load calc(var(--navbar-animation-time) + 400ms);
}
.link5 {
  animation: nav-load calc(var(--navbar-animation-time) + 500ms);
}
@keyframes nav-load {
  0% {
    transform: translateX(-300%);
    opacity: 0%;
  }
  75% {
    transform: translateX(50%);
    opacity: 70%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}
